body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.drop-down-list {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    table-layout: fixed;
    grid-template-columns: 1fr 60px 1fr;
}

th, td {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
}

.radio-image-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#text {
    margin-bottom: 10px;
}

#type, #action {
    margin-bottom: 20;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }

    img {
        max-width: 70%;
    }

    .radio-image-container {
        gap: 8px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 4px;
    }

    img {
        max-width: 60%;
    }

    .radio-image-container {
        flex-direction: column;
        align-items: center;
    }

    
}